# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  # GitHub workflows
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@cf4f6bbb7b971fa9395333540e3389802151508c

  # Application
  verify-java-project:
    uses: harmelodic/workflows/.github/workflows/verify-java-project.yaml@cf4f6bbb7b971fa9395333540e3389802151508c
