# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  # GitHub workflows
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d

  # Application
  verify-java-project:
    uses: harmelodic/workflows/.github/workflows/verify-java-project.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d
