# $schema: http://json.schemastore.org/github-workflow.json
name: pull-request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  # GitHub workflows
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9

  # Application
  verify-java-project:
    uses: harmelodic/workflows/.github/workflows/verify-java-project.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
